@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    background-image: url('../img/LoginBG.png');
}

.wrapper{
    width: 500px;
    padding: 2rem 1rem;
    margin: 100px auto;
    background-color: #fff;
    border-radius: 0px;
    text-align: center;
    box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1);
}

h2{
    font-size: 2rem;
    color: #000;
    margin-bottom: 20px;
}

#pFroget{
    color: #000;
    margin-bottom: 40px;
}

form input{
    width: 92%;
    padding: 12px 20px;
    margin-bottom: 10px;
    border: 1px solid #B8B8B8;
    border-radius: 0px;
    background-color:  #F8F8F8;
    outline: #B8B8B8;
}

#buttonLogin{
    font-size: 1rem;
    margin-top: 1.8rem;
    margin-bottom: 1.8rem;
    padding: 10px 0;
    border-radius: 0px;
    outline: none;
    border: none;
    width: 90%;
    color: #fff;
    cursor: pointer;
    background-color: #24819E;
}

#buttonGoogle{
    font-size: 1rem;
    margin-top: 1.8rem;
    vertical-align: middle;
    text-align: center;
    padding: 10px 0;
    border-radius: 0px;
    outline: #B8B8B8;
    border: 1px solid #B8B8B8;
    width: 90%;
    color: #000;
    cursor: pointer;
    background-color: #fff;
}

#buttonGoogle img{
    vertical-align: sub;
    margin-right: 10px;
}

button:hover{
    background-color: #195669;
}

input:focus{
    border: 1px solid #F8F8F801;
}

.recover{
    text-align: right;
    font-size: 0.8rem;
    margin: 0.3rem 1.4rem 0 0;
}

.recover a{
    text-decoration: none;
    color: #4285F4;
}

.terms{
    text-align: left;
    margin-left: 22px;
    margin-top: 1.4rem;
}